// .home{
//   display: flex;
//   flex-direction: column;

//   .btn {
//     background-color: #4987F9;
//     width: 215px;
//     height: 53px;
//     border-radius: 26.58px;
//     color: #ffffff;
//     border: none;
//     // position: fixed;
//     // top: 12%;
//     // left: 78%;
//   }
// }

.home{
  width: 100%;
  // height: 100%;
  // margin-left: 550px;
  display: flex;
  flex-direction: column;
  margin-left: 550px;
    
    .btn {
      background-color: #4987F9;
      width: 215px;
      height: 53px;
      border-radius: 26.58px;
      color: #ffffff;
      border: none;
      margin-top: 20px;
      margin-left: 63%;
    }

}
