.home{
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .btn {
    background-color: #4987F9;
    width: 215px;
    height: 53px;
    border-radius: 26.58px;
    color: #ffffff;
    border: none;
    position: relative;
    left:80%;
    margin-bottom: 20px;
  }
}

