.navbar{
  background-color: #FFFFFF;
  width: 100%;
  height: 88px;

  .navbar-brand {
    color: #2569e6;
    font-size: 28px;
    font-family: Roboto-Bold;
    font-weight: 700;
  }

  #navbarDropdown {
    color: #2b2b2b;
    font-size: 15px;
    font-family: Roboto-Medium, Roboto;
    font-weight: 500;
  }
  
}
// <svg xmlns="http://www.w3.org/2000/svg" width="118" height="20" viewBox="0 0 118 20">
//   <text id="Anthony_Johnson" data-name="Anthony Johnson" transform="translate(0 16)" fill="#2b2b2b" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">Anthony Johnson</tspan></text>
// </svg>
